.contain__metodo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-principal1 {
    color: #E3DC95;
    font-size: 25px;
    font-weight: 700;
    padding: 50px 16px 30px;
    text-align: center;

}
.contain__metodo img {
    width: 410px;
    padding-bottom: 10%;

}
.contain-sec {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.contain-diferencial {
    height: 220px;
}
.contain-diferencial h2 {
    padding-top: 8%;
}